// Variables to reference the font files
$family: 'Icons';
$path: '/../fonts/icons';
$basename: 'icons';
$version: '1.0'; // Update this when you update the font files.

// Classes settings
$class-prefix: 'icon-';
$icons: (
	arrow: \eA01,
	caret: \eA02,
	close: \eA03,
	facebook-f: \eA05,
	facebook-square: \eA04,
	facebook: \eA0E,
	instagram-filled: \eA06,
	instagram: \eA07,
	linkedin-in: \eA08,
	linkedin: \eA09,
	menu: \eA0A,
	messenger: \eA0B,
	pinterest: \eA0C,
	search: \eA0D,
	twitter: \eA0F,
	whatsapp: \eA10,
	youtube: \eA11,
	mail: \e900,
	menu-path1: \e901,
	menu-path2: \e902,
	phone: \e903,
);

// Create a @font-face each font variation in the $fonts list
@font-face {
	font-family: $family;
	src: url('#{$path}/#{$basename}.woff2?v#{$version}') format('woff2'),
		url('#{$path}/#{$basename}.woff?v#{$version}') format('woff'),
		url('#{$path}/#{$basename}.ttf?v#{$version}') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
	// Use !important to prevent issues with browser extensions that change fonts */
	font-family: $family, sans-serif !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-display: swap;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Function to fix string code
@function unicode($str) {
	@return unquote('"') + $str + unquote('"');
}

// Create a class for each icon in the $icons list
@each $icon, $value in $icons {
	.#{$class-prefix}#{$icon}:before {
		content: unicode($value);
	}
}
